<div class="row-cols-3" match-id="<%= match.match_id %>">
    <button onclick="clientCompetition(this)" value=<%if(match.outcome==1){%>"null"<%}else{%>"1"<%};%>
            class="btn <% if(match.outcome == 1){%>btn-success" <%}else{%>btn-outline-success"<%};%> >Win</button>
    <button onclick="clientCompetition(this)" value=<%if(match.outcome==0){%>"null"<%}else{%>"0"<%};%>
            class="btn <% if(match.outcome == 0){%>btn-warning" <%}else{%>btn-outline-warning"<%};%> >Draw</button>
    <button onclick="clientCompetition(this)" value=<%if(match.outcome==2){%>"null"<%}else{%>"2"<%};%>
            class="btn <% if(match.outcome == 2){%>btn-danger" <%}else{%>btn-outline-danger"<%};%> >Lose</button>
</div>